<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Pedro</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" [routerLink]="['/']">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard/clientes']">Home Cliente</a></li>
                    <li class="breadcrumb-item active">Detalhe</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div>
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="#lancamentos"
                                data-toggle="tab">Lançamentos</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contas" data-toggle="tab">Contas</a></li>
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="lancamentos">
                            <div class="card">
                                <div class="card-header border-0">
                                    <h3 class="card-title">Conta Aberta</h3><br>
                                    <h3 class="card-title">Data de Abertura: {{dt_abertura | slice: 0:11}}</h3>
                                </div>
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-striped table-valign-middle">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th>Dt Lançamento</th>
                                                <th>E/S</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let mov of movimentacoes">
                                                <td>
                                                    {{mov.nome}}
                                                </td>
                                                <td>

                                                    <span> {{mov.dt_movimentacao}} </span>
                                                </td>
                                                <td>
                                                    <div *ngIf="mov.valor < 0">
                                                        <small class="text-danger mr-1">
                                                            <i class="fas fa-arrow-down"></i>
                                                        </small>
                                                        <span class="text-danger"> R$ {{mov.valor}}</span>
                                                    </div>
                                                    <div *ngIf="mov.valor > 0">
                                                        <small class="text-success mr-1">
                                                            <i class="fas fa-arrow-up"></i>
                                                        </small>
                                                        <span class="text-success"> R$ {{mov.valor}}</span>
                                                    </div>

                                                </td>
                                                <td>
                                                    <span class="badge  pointer btn btn-lg btn-danger mr-2"
                                                        (click)="deletar(mov.id)">
                                                        <i class="fas fa-trash fa-lg"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer clearfix">
                                    <span class="float-right">SALDO: <span class="text-danger"> R$ {{saldoCliente}}
                                        </span></span>

                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="timeline">
                            <!-- The timeline -->
                            <div class="timeline timeline-inverse" *ngFor="let mov of movimentacoes">
    
                                <div class="time-label" *ngIf="mov.valor > 0">
                                    <span class="bg-success">
                                        {{dt_abertura | slice: 0:11}}
                                    </span>
                                </div>
                                <div *ngIf="mov.valor > 0">
                                    <div class="timeline-item">

                                        <span class="time"><i class="far fa-clock"></i> {{mov.dt_movimentacao | slice: 11:19}}</span>
                                        <h3 class="timeline-header"><a>Valor: </a> <span class="text-success">R$ {{mov.valor}}</span></h3>

                                        <div class="timeline-body">
                                            Observação:<br>
                                            {{mov.observacao}}
                                        </div>
                                    </div>
                                </div>
                                <div class="time-label" *ngIf="mov.valor < 0">
                                    <span class="bg-danger">
                                        {{dt_abertura | slice: 0:11}}
                                    </span>
                                </div>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <div *ngIf="mov.valor < 0"> 
                                    <div class="timeline-item">

                                        <span class="time"><i class="far fa-clock"></i> {{mov.dt_movimentacao| slice: 11:19}}</span>
                                        <h3 class="timeline-header"><a>Valor: </a> <span class="text-danger">R$ {{mov.valor}}</span></h3>

                                        <div class="timeline-body">
                                            Observação:<br>
                                            {{mov.observacao}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="contas">
                            <div class="card">
                                <div class="card-header border-0">
                                    <h3 class="card-title">Contas Fechadas</h3>
                                </div>
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-striped table-valign-middle">
                                        <thead>
                                            <tr>
                                                <th>Conta</th>
                                                <th>Dt Abertura</th>
                                                <th>Dt Fechamento</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let conta of contas">
                                                <td>
                                                    {{conta.nomeCliente}}
                                                </td>
                                                <td>
                                                    <span> {{conta.dt_abertura | slice: 0:11}} </span>
                                                </td>
                                                <td>
                                                    <span>  {{conta.dt_fechamento| slice: 0:11}} </span>
                                                </td>
                                                <td>
                                                    <span class="badge  pointer btn btn-lg btn-info" (click)="openModalConta(conta.id, templateContaMovimentacao)"><i class="fas fa-receipt fa-lg"></i></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
</section>
<ng-template #templateContaMovimentacao>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Extrato da Conta</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="contaModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                <tr>
                  <th>Cliente</th>
                  <th>Dt Lançamento</th>
                  <th>Valor</th>
                  <th>Observação</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let mov of movimentacoesConta">
                  <td>{{mov.nome}}</td>
                  <td>{{mov.dt_movimentacao}}</td>
                  <td>R$ {{mov.valor}}</td>
                  <td>{{mov.observacao}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
    </div>
    <div class="modal-footer">
        Valor total Saída: R$ {{valorTotalSaida}}
      </div>
</ng-template>
<notifier-container></notifier-container>