<div class="content">
    <div class="container fluid ">
        <div class="row mb-4">
            <div class="col-sm-6">
                <h1>Clientes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" [routerLink]="['/dashboard']">Dashboard</a></li>
                    <li class="breadcrumb-item active">Clientes</li>
                </ol>
            </div>
        </div>

        <div class="card">
            <div class="input-group">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Pesquisar...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header border-0">
                <h3 class="card-title">Clientes</h3>
            </div>
            <div class="card-body table-responsive p-0">

                <table class="table table-striped table-valign-middle">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Saldo</th>
                            <th>Acoes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mov of movimentacoes">
                            <td>
                                {{mov.nome}}
                            </td>
                            <td>
                                <div *ngIf="mov.saldo != 'Sem Movimentação' ">
                                    <small class="text-danger mr-1" *ngIf="mov.saldo < 0 ">
                                        <i class="fas fa-arrow-down"></i>
                                    </small>
                                    <small class="text-success mr-1" *ngIf="mov.saldo > 0 ">
                                        <i class="fas fa-arrow-up"></i>
                                    </small>
                                    <span class="text-danger" *ngIf="mov.saldo < 0 "> R$ {{mov.saldo}} </span>
                                    <span *ngIf="mov.saldo == 0 "> R$ {{mov.saldo}} </span>
                                    <span class="text-success" *ngIf="mov.saldo > 0 "> R$ {{mov.saldo}} </span>
                                </div>
                                <div *ngIf="mov.saldo == 'Sem Movimentação' ">
                                    Abrir Conta!
                                </div>
                            </td>
                            <td>
                                <div *ngIf="mov.saldo != 'Sem Movimentação' ">
                                    <span class="badge  pointer btn btn-lg btn-success mr-2" (click)="openModalMovimentacao(mov,templateMovimentacao)">
                                        <i class="fas fa-cash-register fa-lg"></i>
                                    </span>

                                    <span class="badge  pointer btn btn-lg btn-info mr-2" [routerLink]="['detalhe']">
                                        <i class="fas fa-receipt fa-lg"></i>
                                    </span>

                                    <span class="badge  pointer btn btn-lg btn-secondary" (click)="quitarDivida(mov)">
                                        <i class="fas fa-handshake"></i>
                                    </span>
                                </div>
                                <div *ngIf="mov.saldo == 'Sem Movimentação'">
                                    <span class="badge  pointer btn btn-lg btn-success mr-2"
                                        (click)="abrirConta(mov.cliente_id)">
                                        <i class="fas fa-lock-open"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer clearfix">
                <span class="float-right">TOTAL: <span
                        [ngClass]="{'text-danger': totalGeral < 0, 'text-success': totalGeral > 0 }"> R$ {{totalGeral}}
                    </span></span>

            </div>
        </div>

        <ng-template #templateMovimentacao>
            <div class="modal-header">
                <h4 class="modal-title pull-left">Laçar Movimentação</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="movimentacaoModalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form novalidate [formGroup]="formulario" (submit)="cadastrarMovimentacao()">
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="tipo" id="inlineRadio1" value="ENTRADA">
                            <label class="form-check-label" for="inlineRadio1">Entrada</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"  formControlName="tipo" id="inlineRadio2" value="SAIDA" checked>
                            <label class="form-check-label" for="inlineRadio2">Saída</label>
                        </div>
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">OBS</span>
                        </div>
                        <input type="text" class="form-control" formControlName="observacao">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" class="form-control" formControlName="valor" currencyMask>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" (click)="movimentacaoModalRef.hide()">Fechar</button>
                    <button type="button" class="btn btn-primary" type="submit" >Salvar</button>
                </div>
            </form>
        </ng-template>

    </div>
</div>
<notifier-container></notifier-container>